/* Home Container */
.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  /* Headings */
  .home-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Post List */
  .post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  /* Post Card */
  .post {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .post h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .post p {
    font-size: 16px;
  }
  
  /* Read More Link */
  .post a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .post a:hover {
    text-decoration: underline;
  }
  
  .show-btn {
    border: none;
    margin-top: 0px;
  }

  .create_post_btn {
    background-color: #11bf37;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }

  @media screen and (max-width: 800px) {
    .post-list {
      grid-template-columns: 1fr;
    }
  }