/* Header Container */
.header {
    background-color: #11bf37;
    color: #fff;
    padding: 10px 0;
    
  }
  
  /* Navbar Container */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin: 0px 3px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  